<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="utf-8">
    <title>{{Title}} {{ timestamp }}</title>
    <link rel="icon" href="/img/icon-256.png">
    <meta name="description" content="Paint in VR in your browser. Powered by A-Frame and NAF.">

    {% block externalDependencies %}
    <script src="/aframe/aframe-master.js" crossorigin="anonymous"></script>
    <!-- build of A-Painter -->
    <script src="/build.min.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.5.0/socket.io.slim.js"></script>
    <script>
        const socket = io();
    </script>
    <script src="https://{{easyrtc_server}}/easyrtc/easyrtc.js"></script>
    {% endblock %}

    <!-- NAF Schema -->
    {% block internalSchema %}
    <script src="/naf-schema/apainter.schema.js" crossorigin="anonymous"></script>
    {% endblock %}

    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.webmanifest">
</head>
<body>
<!-- TODO get room from URL, refined control over audio recieving (same room problem)-->
<a-scene vr-analytics
         renderer="colorManagement: true"
         networked-scene="
           serverURL: {{easyrtc_server}}/;
           app: apainter-camdennbock-dev;
           room: {{roomName}};
           connectOnLoad: true;
           onConnect: onConnect;
           adapter: wseasyrtc;
           audio: {{enableAudio}};
           video: false;
           debug: false;
         "
         obb-collider="showColliders: true"
        {% block scene %}
         webxr="referenceSpaceType: bounded-floor;
                requiredFeatures: bounded-floor;
                optionalFeatures: dom-overlay;
                overlayElement: #overlay;"
        {% endblock %}
>
    <a-assets>
        {% block assets %}
        <img id="skymap" src="/assets/images/sky.jpg" crossorigin="anonymous" alt="skybox map">
        <img id="uinormal" src="/assets/images/ui-normal.png" crossorigin="anonymous" alt="user interface for vr">
        <img id="aruinormal" src="/assets/images/ar-ui-normal.png" crossorigin="anonymous" alt="user interface for ai">
        <img id="floor" src="/assets/images/floor.jpg" crossorigin="anonymous" alt="floor material">
        <a-asset-item id="logoobj" src="/assets/models/logo.obj" crossorigin="anonymous"></a-asset-item>
        <a-asset-item id="logomtl" src="/assets/models/logo.mtl" crossorigin="anonymous"></a-asset-item>
        <a-asset-item id="uiobj" src="/assets/models/ui.obj" crossorigin="anonymous"></a-asset-item>
        <a-asset-item id="tipObj" src="/assets/models/controller-tip.glb" crossorigin="anonymous"></a-asset-item>
        <!-- AR assets -->
        <a-asset-item id="aruiobj" src="/assets/models/ar-ui-settings.obj"></a-asset-item>
        <img id="ar_ui" src="/assets/images/ar-ui.png" crossorigin="anonymous" alt="augmented reality user interface graphics">
        <!-- Audio for iOS -->
        <audio id="ui_click0_iOS" src="/sounds/ui_click0.mp3"></audio>
        <audio id="ui_click1_iOS" src="/sounds/ui_click1.mp3"></audio>
        <audio id="ui_menu_iOS" src="/sounds/ui_menu.mp3"></audio>
        <audio id="ui_paint_iOS" src="/sounds/ui_paint.mp3"></audio>
        <audio id="ui_undo_iOS" src="/sounds/ui_undo.mp3"></audio>
        <!-- Audios for the rest of browsers -->
        <audio id="ui_click0" src="/sounds/ui_click0.ogg"></audio>
        <audio id="ui_click1" src="/sounds/ui_click1.ogg"></audio>
        <audio id="ui_menu" src="/sounds/ui_menu.ogg"></audio>
        <audio id="ui_paint" src="/sounds/ui_paint.ogg"></audio>
        <audio id="ui_undo" src="/sounds/ui_undo.ogg"></audio>
        {% endblock %}
        {% block mixins %} {% endblock %}
        <!--
 NAF Templates
-->
        {% block extraTemplates %} {% endblock %}
        <!-- Camera Rig / Player -->
        <!-- Templates -->
        <!-- Camera Rig / Player -->
        <template id="rig-template">
            <a-entity></a-entity>
        </template>

        <!-- Head / Avatar -->
        <!--      a few spheres make a head + eyes + pupils    -->
        <template id="avatar-template">
            <a-entity class="avatar">
                <!-- notice this child sphere, with class .head, has the random-color component; this modifies the material component's color property -->
                <a-sphere class="head" scale="0.2 0.22 0.2" random-color></a-sphere>
                <a-entity class="face" position="0 0.05 0">
                    <a-sphere class="eye" color="white" position="0.06 0.05 -0.16" scale="0.04 0.04 0.04">
                        <a-sphere class="pupil" color="black" position="0 0 -1" scale="0.2 0.2 0.2"></a-sphere>
                    </a-sphere>
                    <a-sphere class="eye" color="white" position="-0.06 0.05 -0.16" scale="0.04 0.04 0.04">
                        <a-sphere class="pupil" color="black" position="0 0 -1" scale="0.2 0.2 0.2"></a-sphere>
                    </a-sphere>
                </a-entity>
            </a-entity>
        </template>
    <template id="left-controller-default-template">
        <a-entity networked-hand-controls="hand:left; handModelStyle:lowPoly;"></a-entity>
    </template>
    <template id="right-controller-default-template">
        <a-entity networked-hand-controls="hand:right;handModelStyle:lowPoly;"></a-entity>
    </template>

    <template id="left-hand-default-template">
        <a-entity networked-hand-controls="hand:left; handModelStyle:lowPoly;"></a-entity>
    </template>
    <template id="right-hand-default-template">
        <a-entity networked-hand-controls="hand:right;handModelStyle:lowPoly;"></a-entity>
    </template>
        <!--
        /NAF Templates
        -->
    </a-assets>
    <a-light type="ambient" light="intensity:1"></a-light>

    <!-- TODO switch visibility of aframe logo in painting environment with URL parameter-->
    <a-entity id="logo" obj-model="obj: #logoobj; mtl: #logomtl" xr="ar: false" visible="false"></a-entity>

    {% block environment %}
    <a-entity id="environment-root" environment="preset:starry;grid:crosses;groundColor:#060404; ground: flat"></a-entity>
    {% endblock %}

    <a-entity log geometry="primitive: plane" material="color: #111" text="color: lightgreen" position="0 1.3 -4"></a-entity>

    {% if spectator %}
        <a-camera id="spectator-camera"></a-camera>
    {% else %}
        <a-entity id="rig"
            {% block rig %}
            networked="template:#rig-template;"
            {% endblock %}
        >
            <a-entity
                    id="player"
                    {% block player %}
                    camera
                    networked="template:#avatar-template;"
                    avatar
                    visible="false"
                    {% endblock %}
            >
            </a-entity>
            <!-- here we add the user's local hands! These two entities are all that is needed. -->
            <a-entity id="leftHand" hand-tracking-grab-controls="hand: left;"
                      networked-hand-controls="hand:left;handModelStyle:lowPoly"></a-entity>
            <a-entity id="rightHand" hand-tracking-grab-controls="hand: right;"
                      networked-hand-controls="hand:right;handModelStyle:lowPoly"></a-entity>
            <a-entity
                    id="my-tracked-left-hand"
                    {% block leftHand %}
                    networked-hand-controls="hand:left;handModelStyle:controller"
                    networked="template:#left-hand-default-template"
                    blink-controls="cameraRig:#rig; teleportOrigin:#player; defaultPlaneSize:1000; startEvents:aim; endEvents:teleport; snapTurn:false; rotateOnTeleport:false; drawIncrementally:true"
                    brush="color: #79bde8"
                    paint-controls="hand: left"
                    paint-haptics
                    haptics="events: triggerdown; dur: 5; force: 0.1"
                    ui
                    {% endblock %}
            ></a-entity>
            <a-entity
                    id="my-tracked-right-hand"
                    {% block rightHand %}
                    hand-tracking-grab-controls="hand: right;"
                    networked-hand-controls="hand:right;handModelStyle:controller"
                    networked="template:#right-hand-default-template"
                    blink-controls="cameraRig:#rig; teleportOrigin:#player; defaultPlaneSize:1000; snapTurn:false; startEvents:aim; endEvents:teleport; rotateOnTeleport:false; drawIncrementally:true"
                    brush="color: #79bde8"
                    paint-controls="hand: right"
                    paint-haptics
                    haptics="events: triggerdown; dur: 5; force: 0.1"
                    ui
                    {% endblock %}
            ></a-entity>
        </a-entity>
    {% endif %}

    {% block additionalSceneContent %} {% endblock %}
</a-scene>

{% block onConnectScript %}{% endblock %}

<!-- GitLab corner. -->
<style>.gitlab-corner-wrapper{overflow:hidden;width:100px;height:100px;position:absolute;top:0;right:0}.gitlab-corner{position:absolute;top:-16px;right:-50px;transform:rotate(45deg);background:#333;border:44px solid #333;border-bottom:none;border-top:#333 solid 16px}.gitlab-corner svg{width:60px;height:60px;margin-bottom:-4px}.cls-1{fill:#fc6d26}.cls-2{fill:#e24329}.cls-3{fill:#fca326}.gitlab-corner:hover .cls-1{animation:cycle .6s}.gitlab-corner:hover .cls-2{animation:cycleMid .6s}.gitlab-corner:hover .cls-3{animation:cycleEnd .6s}@keyframes cycle{100%,15%,60%{fill:#fc6d26}30%,75%{fill:#e24329}45%,90%{fill:#fca326}}@keyframes cycleMid{100%,15%,60%{fill:#e24329}30%,75%{fill:#fca326}45%,90%{fill:#fc6d26}}@keyframes cycleEnd{100%,15%,60%{fill:#fca326}30%,75%{fill:#fc6d26}45%,90%{fill:#e24329}}@media (max-width:500px){.gitlab-corner:hover .cls-1,.gitlab-corner:hover .cls-2,.gitlab-corner:hover .cls-3{animation:none}.gitlab-corner .cls-1{animation:cycle .6s}.gitlab-corner .cls-2{animation:cycleMid .6s}.gitlab-corner .cls-3{animation:cycleEnd .6s}}</style><div class="gitlab-corner-wrapper"><a href="https://gitlab.com/immersive-math/naf-a-painter" class="gitlab-corner" aria-label="View source on GitLab"><svg id="logo_art" data-name="logo art" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 586 559"><g id="g44"><path id="path46" class="cls-1" d="M461.17,301.83l-18.91-58.12L404.84,128.43a6.47,6.47,0,0,0-12.27,0L355.15,243.64H230.82L193.4,128.43a6.46,6.46,0,0,0-12.26,0L143.78,243.64l-18.91,58.19a12.88,12.88,0,0,0,4.66,14.39L293,435,456.44,316.22a12.9,12.9,0,0,0,4.73-14.39"/></g><g id="g48"><path id="path50" class="cls-2" d="M293,434.91h0l62.16-191.28H230.87L293,434.91Z"/></g><g id="g56"><path id="path58" class="cls-1" d="M293,434.91,230.82,243.63h-87L293,434.91Z"/></g><g id="g64"><path id="path66" class="cls-3" d="M143.75,243.69h0l-18.91,58.12a12.88,12.88,0,0,0,4.66,14.39L293,435,143.75,243.69Z"/></g><g id="g72"><path id="path74" class="cls-2" d="M143.78,243.69h87.11L193.4,128.49a6.47,6.47,0,0,0-12.27,0l-37.35,115.2Z"/></g><g id="g76"><path id="path78" class="cls-1" d="M293,434.91l62.16-191.28H442.3L293,434.91Z"/></g><g id="g80"><path id="path82" class="cls-3" d="M442.24,243.69h0l18.91,58.12a12.85,12.85,0,0,1-4.66,14.39L293,434.91l149.2-191.22Z"/></g><g id="g84"><path id="path86" class="cls-2" d="M442.28,243.69h-87.1l37.42-115.2a6.46,6.46,0,0,1,12.26,0l37.42,115.2Z"/></g></svg></a></div>
</body>
</html>
