{% extends "apainter.njk" %}

{% block externalDependencies %}
{{ super() }}
<script src="/opt.min.js" crossorigin="anonymous"></script>
{% endblock %}

{% block internalSchema %}
  <script src="/naf-schema/dynamicGeometry.schema.js" crossorigin="anonymous"></script>
{% endblock %}

{% block mixins %}
  <a-mixin id="point" geometry="primitive: sphere" material="color: black" scale = "0.005 0.005 0.005"></a-mixin>
  <a-mixin id="grab-move"
           grabbable
           grab-ownership
           dynamic-body
  ></a-mixin>
{% endblock %}

{% block extraTemplates %}
  <template id="interactable-point-template">
    <a-entity class="point" mixin="point grab-move"></a-entity>
  </template>
  <template id="fixed-point-template">
    <a-entity class="point" mixin="point"></a-entity>
  </template>
{% endblock %}

{% block leftHand %}
{{ super() }}
  mixin="super-hands"
{% endblock %}}

{% block rightHand %}
{{ super() }}
  mixin="super-hands"
{% endblock %}}

{% block additionalSceneContent %}
    <!-- diagram -->
{% endblock %}
