<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="utf-8">
    <title>Debug Grab {{ timestamp }}</title>
    <link rel="icon" href="/img/icon-256.png">
    <meta name="description" content="Paint in VR in your browser. Powered by A-Frame and NAF.">

    <script src="/aframe/aframe-master.js" crossorigin="anonymous"></script>
    <script src="/build.min.js" crossorigin="anonymous"></script>
    <script src="/opt.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
</head>
<body>
<a-scene obb-collider="showColliders: true"
         webxr="optional-features: hand-tracking"
>
    <a-light type="ambient" light="intensity:1"></a-light>

    <a-entity id="environment-root" environment></a-entity>

    <a-entity log geometry="primitive: plane" material="color: #111" text="color: lightgreen" position="0 1.3 -4"></a-entity>

    <a-entity id="rig">
        <a-entity
                id="player"
                camera
        >
        </a-entity>
        <!-- here we add the user's local hands! These two entities are all that is needed. -->
        <a-entity id="my-tracked-left-controller"
                  hand-controls="hand: left; color: purple"
                  controller-tracking-grab-controls="hand: left; hoverEnabled: true"
        ></a-entity>
        <a-entity id="my-tracked-right-controller"
                  hand-controls="hand: right; color: pink"
                  blink-controls="cameraRig:#rig; teleportOrigin:#player; defaultPlaneSize:1000; startEvents:aim; endEvents:teleport; snapTurn:false; rotateOnTeleport:false; drawIncrementally:true"
                  controller-tracking-grab-controls="hand: right; hoverEnabled: true"
        ></a-entity>
        <a-entity
                id="my-tracked-left-hand"
                hand-tracking-controls="hand: left; color: blue"
                hand-tracking-grab-controls-debug="hand: left; hoverEnabled: true"
        ></a-entity>
        <a-entity
                id="my-tracked-right-hand"
                hand-tracking-controls="hand: right; color: green"
                hand-tracking-grab-controls-debug="hand: right; hoverEnabled: true"
        ></a-entity>
    </a-entity>

    <a-box id="debug-box" grabbable scale="0.1 0.1 0.1" position = "0 1 0"></a-box>

</a-scene>

</body>
</html>
