<html lang="en">
<head>
    <title>NAF A-Painter Dynamic Geometry Examples</title>
    <meta name="description" content="Collection of Shearing-Based Examples for A-Painter with Dynamic Geometry Diagrams">
</head>

<body>

{% if spectator %}
    <h1> This page is in SPECTATOR MODE </h1>
    This is a compatibility mode for devices without WebXR support.
    <a href="../index.html" > Click here for XR MODE </a>
{% else %}
    <h1> This page is in XR MODE </h1>
    These environments will not work properly on mobile or desktop browsers.
    <a href="spectator/index.html" > Click here for SPECTATOR MODE </a>
{% endif %}

<h2> {{ timestamp }} </h2>

<h1>Networked-A-Painter Example</h1>
<a href="a-painter.html">A-Painter</a>  Environment
<span> A Spatial Painting Environment Build with A-Frame and NAF <\span>

<h1>Networked-A-Painter Examples for Dynamic Geometry: Shearing Scenes</h1>
<div>
    <a href="shearing-triangle.html">Triangle</a>

    <span>Triangle bound to parallel Lines</span>
    <br>

    <a href="shearing-pyramid.html">Pyramid</a>

    <span>Pyramid with apex bound to a Plane</span>
    <br>

    <a href="shearing-cube.html">Cube</a>
    <span>Pyramids in a Cube</span>
    <br>
</div>

<h1> Other Dynamic Geometry </h1>
<div>
<h2> Extended Lines </h2>
    <a href="lines-distance.html">  Lines</a>
    <span>Playing with Parallelism</span>
    <br>

<h2> Multi-Modal Experiments </h2>
    <a href="multimodal-triangle.html">  Triangle</a>
    <span>Playing with Sound and Haptics</span>
    <br>
</div>

<h1> Functions </h1>
<div>
    <a href="functions.html">  Functions</a>
    <span>Functions in z=f(x,y) rendered in space</span>
    <br>
    <p>
    Use ?fn-surface=f(x,y)=.... or ?fn-curve=f(x)=.... to declare a function of a surface or curve.
    </p>
<h2> Surfaces </h2>
   <div>
       <a href="surfaces.html">  Surfaces of Revolution</a>
       <span>Functions in ?fn-curtain=f(x)=.... rendered in space</span>
       <br>
       <p>
       Additional scenes can be constructed to use
       Use ?fn-surface=f(x,y)=.... or ?fn-curve=f(x)=.... or  to declare a function of a surface or curve.
       </p>
   </div>
   </body>
   </html>
</div>

<h1> Climate Reanalyzer Visualization </h1>
<div>
<h2> Temperature 2m Anomaly </h2>
        <a href="reanalyzer.html?dataset=t2anom&region=world-ced">  Globe</a>
        <span>Data and Textures from: https://climatereanalyzer.org/ </span>
        <br>
<h2> Sea Surface Temperature Anomaly </h2>
        <a href="reanalyzer.html?dataset=sstanom">  Globe</a>
        <span>Data and Textures from: https://climatereanalyzer.org/ </span>
        <br>
<h2> Sea Surface Temperature </h2>
        <a href="reanalyzer.html?dataset=sst">  Globe</a>
        <span>Data and Textures from: https://climatereanalyzer.org/ </span>
        <br>
<h2> Max Temperature </h2>
        <a href="reanalyzer.html?dataset=t2max&region=world-ced">  Globe</a>
        <span>Data and Textures from: https://climatereanalyzer.org/ </span>
        <br>

<h2> Minimum Temperature </h2>
        <a href="reanalyzer.html?dataset=t2min&region=world-ced">  Globe</a>
        <span>Data and Textures from: https://climatereanalyzer.org/ </span>
        <br>
</div>

<h1> Particle Simulation Player </h1>

<div>
        <a href="particles.html">  Particle Simulations</a>
        <br>
</div>
