{% extends "diagram.njk" %}}

{% set  Title = 'Lines [Audio]' %}
{% set  roomName = 'lines-distance' %}
{% set  enableAudio = 'true' %}

{% block additionalSceneContent %}
{% include "linesDistance.diagram" %}
{% endblock %}

{% block assets %}
{{ super() }}
<img id="hueGradient" src="/assets/images/hueGradient.png" crossorigin="anonymous" alt="hue map">
{%endblock %}

