{% extends "diagram.njk" %}}

{% set  Title = 'Harmonic Triangle' %}
{% set  roomName = 'harmonic-triangle' %}
{% set  enableAudio = 'true' %}

{% block additionalSceneContent %}
{% include "multimodal/triangle.diagram" %}
{% endblock %}

{% block assets %}
{{ super() }}
<img id="hueGradient" src="/assets/images/hueGradient.png" crossorigin="anonymous" alt="hue map">
{%endblock %}