{% extends "diagram.njk" %}}

{% set  Title = 'Particle Simulation' %}
{% set  roomName = 'shearing-cube' %}
{% set  enableAudio = 'false' %}

{% block additionalSceneContent %}
{% include "particles/test.diagram" %}
{% endblock %}

{% block assets %}
    {{ super() }}
    <a-asset-item id="particles" src='https://raw.githubusercontent.com/supermedium/aframe-particleplayer-component/master/examples/10000/10000.json'></a-asset-item>
            <img src="/brushes/thumb_cubes.gif" id="particleTex">
{% endblock %}


{% block scene %}
    {{  super() }}
    stats
{% endblock %}

{% block rig %}
    {{ super() }}
    position="0 1.6 0"
    movement-controls="fly:true;controls:keyboard;"
{% endblock %}


{% block player %}
    {{ super() }}
    look-controls="pointerLockEnabled: true"
{% endblock %}

{% block leftHand %}
{%  endblock %}

{% block rightHand %}
{%  endblock %}