{% extends "diagram.njk" %}}

{% set  Title = 'Climate Reanalyzer' %}
{% set  roomName = 'reanalyzer' %}
{% set  enableAudio = 'true' %}

{% block additionalSceneContent %}
{% include "globe/climate-reanalyzer.diagram" %}
{% endblock %}
