{% extends "diagram.njk" %}}

{% set  Title = 'Pyramid Shearing [Audio]' %}
{% set  roomName = 'shearing-pyramid' %}
{% set  enableAudio = 'true' %}

{% block additionalSceneContent %}
{% include "shearing/pyramid.diagram" %}
{% endblock %}