{% extends "diagram.njk" %}}

{% set  Title = 'Triangle Shearing [Audio]' %}
{% set  roomName = 'shearing-triangle' %}
{% set  enableAudio = 'true' %}

{% block additionalSceneContent %}
{% include "shearing/triangle.diagram" %}
{% endblock %}