{% extends "diagram.njk" %}}

{% set  Title = 'Cube Shearing Puzzle [Audio]' %}
{% set  roomName = 'shearing-cube' %}
{% set  enableAudio = 'true' %}

{% block additionalSceneContent %}
{% include "shearing/cube.diagram" %}
{% endblock %}