{% extends "diagram.njk" %}}

{% set  Title = 'XYZ Functions' %}
{% set  roomName = 'xyz' %}
{% set  enableAudio = 'true' %}

{% block additionalSceneContent %}
{% include "calculus/revolved-surface.diagram" %}
{% endblock %}

{% block assets %}
{{ super() }}
<img id="hueGradient" src="/assets/images/hueGradient.png" crossorigin="anonymous" alt="hue map">
{%endblock %}